h1,p{
	text-align: center;
}

h1{
	margin-top: 20px;
	margin-bottom: 0px;
}

p{
	margin-top: 0px;
}

.nuevo img{

	
}

.center-block{
	margin: 0 auto;
}

.img-responsive{
	max-width: 100%;
	display: block;
}

.bg-tops{
	background-image: url(../img/IMG_1736.jpg);
}

.bg-buttoms{
	background-image:url(../img/IMG_1738.jpg);
}

.bg-swimsuits{
	background-image: url(../img/IMG_1737.jpg);
}


.bg-featured{
	background-image: url(../img/IMG_1746.jpg);
}

.bg-underwear{
	background-image: url(../img/IMG_1748.jpg);
}

.bg-shirts{
	background-image: url(../img/IMG_1747.jpg);
}


#tops,
#buttoms,
#swimsuits{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 25% 0;
	position: relative;
}


#shirts,
#featured,
#underwear{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 25% 0;
	position: relative;
}



